* {
    font-family: "Nunito";
}

#container {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    width: 350px;
    height: auto;
    background: rgba(222, 222, 211, 0.4);
}

h1 {
    text-align: center;
}

input {
    margin-bottom: 15px;
}

li {
    width: 250px;
    margin-top: 15px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(222, 222, 211, 0.6);
}

li button {
    transform: scale(0.7);
}